{% extends "layout.njk" %}

{% block content %}
<div id="container">
<section>
    <div>
        <h1>About This Site</h1>
          <p>What you're looking at is built on plain old ExpressJS with a PostgreSQL DB and <a href="https://mozilla.github.io/nunjucks/" target="_blank">Ye Olde Nunjucks templates</a> 👴🏻. After years of JavaScript framework fatigue, dealing with Angular and React/NextJS Front-Ends; never seeming to make truly efficient use my time, the user's time or the company's budget, I began to desire the experience of working on something that felt reasonable to me. <i>Call it therapy, if you will.</i></p>
          <p>The Node backend responds with HTML, can you say SSR? 😂 The HTML uses semantic tags and native browser functionality where appropriate. I just wrote CSS 😱. For most of the pages, there is no justification for the, now common, JavaScript <span class="stretch">bloat</span> of multiple megabytes just to render static content.</p>
          <p>On this little project, the idea is to fetch assets and run scripts only when required by the page.</p>
    </div>
</section>
</div>
<aside id="template-aside">
    <h3>Technologies</h3>
    <ul class="flex-col">
    {% for techItem in techList %}
            <li>{{ techItem }}</li>
        {% endfor %}
    </ul>
    <h3>Related Skills</h3>
    <ul class="flex-col">
        {% for skillItem in relatedSkills %}
        <li>{{ skillItem }}</li>
    {% endfor %}
</ul>
</aside>

{% endblock %}
