<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title></title>
  <link rel="stylesheet" href="/assets/guitars.css">
  <meta name="description" content="">

</head>

<body>
    <header>
        <div class="round"><a class="logo" href="/"><img src="/assets/img/logo.jpg"  alt="logo BL"/></a></div>

        <h1 class="sans-serif">Electric Guitar Shopping Aggregator</h1>
        <div id="guitar-btns">
            <button id="how-made">How It's Made</button>
        <button id="resource-timing-btn">Show Vitals & Resources </button>

        </div>
    </header>
    <main>
    <div>
        <header id="search-filters">
            <div>
                <form id="grid-filters">
                    <label for="retailers" class="sans-serif">Filter By Retailer</label>
                    <div class="select">
                    <select name="retailers" id="retailers">
                        <option value="">Select a Retailer</option>
                        <option value="amazon">Amazon</option>
                        <option value="gc">Guitar Center</option>
                    </select>
                    <span class="focus"></span>
                </div>
                </form>
            </div>
          </header>
          <div id="no-products">Sorry, no products on this page for that retailer. <button id="back-btn">back</button></div>

    <div id="product-grid-wrapper">
        {% for guitar in guitarList %}
            <div class="product list-item sans-serif">
                <div class="product-img-container">
                    <img src={{guitar.displayImage}} alt={name} />
                    <div class="retailer-fav"><img alt="retailer logo" src="/assets/img/{{ guitar.productdata.retailer }}.png" /></div>
                </div>
                <div class="product-details-container sans-serif">
                    <div class="product-title">
                        <a href={{ guitar.productdata.url }} target="_blank"><h3>
                        {{ guitar.productdata.title }}
                      </h3></a>
                      </div>
                </div>
                <div class="product-price">{{ guitar.productdata.price.value }}</div>
                </div>
        {% endfor %}
        </div>
        <div class="paginator"><button class="pag-btn" id="left-p-btn">&larr;</button><div>Page <span id="current-page"></span> of <span>{{ pageCount }}</span></div><button class="pag-btn" id="right-p-btn">&rarr;</button></div>
    </div>
    <div id="resource-data-wrap">
        <div>
        <div class="close-icon"></div>
        <div id="resource-data"></div>
      </div>
      </div>
</main>
    <footer class="sans-serif">
        <p>&copy; Copyright 2024</p>
      </footer>
      <script src="/scripts/web-vitals.iife.js">
    </script>
<script id="ddump"></script>
<script>

    (async function() {
        const createProductCards = (gridItems) => {
            const productHTMLs = gridItems.map((gItem) => {
                return `<div class="product list-item sans-serif">
                <div class="product-img-container">
                    <img src=${gItem.displayImage} alt={name} />
                    <div class="retailer-fav"><img alt="retailer logo" src="/assets/img/${gItem.productdata.retailer }.png" /></div>
                </div>
                <div class="product-details-container sans-serif">
                    <a href=${gItem.productdata.url} target="_blank"><h3>
                        ${gItem.productdata.title }
                      </h3></a>
                      <div class="product-price">${gItem.productdata.price.value }</div>
                </div>
                </div>`;
            });
            return productHTMLs.join('');
        }
        const chunk = (arr, size) => arr.reduce((carry, _, index, orig) => !(index % size) ? carry.concat([orig.slice(index,index+size)]) : carry, []);

        document.addEventListener("DOMContentLoaded", (event) => {

            const howBtn = document.getElementById("how-made");
            const howModal = document.getElementById("how-modal");
            const pGridWrap = document.getElementById("product-grid-wrapper");
            const databox = document.getElementById("ddump");
            const currPage = document.getElementById("current-page");
            const lPagBtn = document.getElementById("left-p-btn");
            const rPagBtn = document.getElementById("right-p-btn");
            const retailerFilter = document.getElementById("retailers");
            const noProductsMesssage = document.getElementById("no-products");
            const backBtn = document.getElementById("back-btn");

            let pData;
            let parsed;
            let chunkLength;
            const trimProductList = async (currPageVal) => {
                const filterVal = retailerFilter.value;
                let gridItems = chunkedProducts[currPageVal - 1];
                if (filterVal) {
                    gridItems = gridItems.filter((item) => item.productdata.retailer == filterVal);
                }
                if (!gridItems.length) {
                    noProductsMesssage.classList.add('show');
                    pGridWrap.innerHTML = `<div>¯/\_(ツ)_/¯</div>`;
                } else {
                    const newHTML = await createProductCards(gridItems);
                    pGridWrap.innerHTML = newHTML;
                }
            }
            let currPageVal = 1;
            currPage.innerHTML = currPageVal;


            lPagBtn.addEventListener('click', (event) => {
                noProductsMesssage.classList.remove('show');
                if (currPageVal > 1) {
                    currPageVal -= 1;
                    currPage.innerHTML = currPageVal;
                    if (currPageVal > 0) {
                        trimProductList(currPageVal);
                    }
                }
                window.scrollTo({top: 0, behavior: 'smooth'});
            });
            rPagBtn.addEventListener('click', (event) => {
                noProductsMesssage.classList.remove('show');
                currPageVal += 1;
                if (currPageVal <= chunkLength) {
                    currPage.innerHTML = currPageVal; 
                    trimProductList(currPageVal); 
                } else {
                    currPageVal -= 1;
                }
                window.scrollTo({top: 0, behavior: 'smooth'});
            });
            backBtn.addEventListener('click', () => {
                noProductsMesssage.classList.remove('show');
                if (currPageVal > 1) {
                    currPageVal -= 1;
                    currPage.innerHTML = currPageVal;
                    if (currPageVal > 0) {
                        trimProductList(currPageVal);
                    }
                }
                window.scrollTo({top: 0, behavior: 'smooth'});
            });
 
            fetch('/guitardata').then((res) => res.text())
                .then(function (data) {
                    databox.innerHTML = data;
                    pData = databox.innerHTML;
                    parsed = JSON.parse(pData);
                    chunkLength = Math.ceil(parsed.length / 18);
                    chunkedProducts = chunk(parsed, 18);
            });
            howBtn.addEventListener('click', (event) => {
                event.preventDefault();
                howModal.classList.add('show')
            });
            howModal.addEventListener("click", (event) => {
            if (event.target.id === "how-modal") {
                howModal.classList.remove("show");
            }
    });

    document.getElementById('retailers').onchange = async function(){
        if (this.value) {
            const gridItems = chunkedProducts[currPageVal - 1];
            const newGrid = gridItems.filter((item) => item.productdata.retailer == this.value);
            if (newGrid.length) {
                const newHTML = await createProductCards(newGrid);
                pGridWrap.innerHTML = newHTML;
            } else {
                noProductsMesssage.classList.add("show");
            }
        } else {
            const gridItems = chunkedProducts[currPageVal - 1];
            const newHTML = await createProductCards(gridItems);
            pGridWrap.innerHTML = newHTML;
        }
    };

    });
}());
</script>
<div id="how-modal">
    <div>
        <article>
        <h3>How it's Made</h3>
        <p>I fully realize that this is not some impressive architecture or UX right now and that some developers would be deeply triggered and/or offended at a lot of it 😂. I cut corners where it didn't matter to me and didn't contribute much to the goal. Cleanup will happen, however 😉. I also realize this would not scale easily without some enhancements. I am simply putting my money where my mouth is when it comes to JS bloat and building things simply. It demonstrates accomplishing some common asks of business in a web app as simply as possible. You can see the performance of the super low-code implementation. Another goal was to see just how quickly I could build something from scratch using the bare minimum npm modules. A compare tool and other additions are upcoming.</p>
        <h3>Back End</h3>
        <p>I have a cron-job on the ExpressJS Web Service to fetch Amazon data using <a href="https://www.canopyapi.co/" target="_blank">Canopy</a> every 24 hours. In order to show data aggregation across retailers, I scraped Guitar Center for some products and put them in the DB. When the page is requested, the products are retrieved from a route, merged/sorted, and chunked, with the first 18 rendered in page, a common ask for SEO purposes.</p>
        <h3>Front End</h3>
        <p>No Framework. Plain JS & CSS.</p>
        <p>The entire JSON product list is fetched and put in a script tag. The bare-bones paginator is populated according to the chunks and total list. When the paginator is used, the appropriate product chunk is retrieved from the JSON, templated with simple string interploation and the innerHTML is replaced in the product grid wrapper.</p>
    </article>

    </div>
</div>
<script src="/scripts/perf.js">
</script>
</body>

</html>