<!doctype html>
<html class="no-js" lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% if metaTitle %}{{ metaTitle }}{% endif %} | Brent Lawson Portfolio</title>
  {% if isDev %}
  <link rel="stylesheet" href="/assets/guitars.css"/>
  {% elif not isDev %}
  <link rel="stylesheet" href="/assets/guitars.min.css"/>
  {% endif %}
  <meta name="description" content="">

</head>

<body>
    <header>
        <div class="round"><a class="logo" href="/"><img src="/assets/img/logo.jpg"  alt="logo BL"/></a></div>

        <h1 class="sans-serif">Electric Guitar Shopping Aggregator</h1>
        <div id="guitar-btns">
            <button id="how-made">How It's Made</button>
        <button id="resource-timing-btn">Show Vitals & Resources </button>

        </div>
    </header>
    <main>
    <div>
        <header id="search-filters">
            <div>
                <form id="grid-filters">
                    <label for="retailers" class="sans-serif">Filter By Retailer</label>
                    <div class="select">
                    <select name="retailers" id="retailers">
                        <option value="">Select a Retailer</option>
                        <option value="amazon">Amazon</option>
                        <option value="gc">Guitar Center</option>
                    </select>
                    <span class="focus"></span>
                </div>
                </form>
            </div>
            <div>
                <form id="grid-filters">
                    <label for="sort" class="sans-serif no-wrap">Sort By</label>
                    <div class="select">
                    <select name="sort" id="sort">
                        <option value="">Select a Sorting</option>
                        <option value="lth">Price Low to High</option>
                        <option value="htl">Price High to Low</option>
                    </select>
                    <span class="focus"></span>
                </div>
                </form>
            </div>
          </header>
          <div id="no-products">Sorry, no products on this page for that retailer. <button id="back-btn">back</button></div>

    <div id="product-grid-wrapper">
        {% for guitar in guitarList %}
            <div class="product list-item sans-serif">
                <div class="product-img-container" data-prod-link={{guitar.productdata.url}}>
                    <img src={{guitar.displayImage}} alt={name} />
                    <div class="retailer-fav"><img alt="retailer logo" src="/assets/img/{{ guitar.productdata.retailer }}.png" /></div>
                </div>
                <div class="product-details-container sans-serif">
                    <div class="product-title">
                        <a href={{ guitar.productdata.url }} target="_blank"><h3>
                        {{ guitar.productdata.title }}
                      </h3></a>
                      </div>
                </div>
                <div class="product-price">{{ guitar.productdata.price.value }}</div>
                <div class="compare-ctrl"><input id={{guitar.id}} type="checkbox" /><label for={{guitar.id}}> Compare</label></div>
                </div>
        {% endfor %}
        </div>
        <div class="paginator"><button class="pag-btn" id="left-p-btn">&larr;</button><div>Page <span id="current-page"></span> of <span>{{ pageCount }}</span></div><button class="pag-btn" id="right-p-btn">&rarr;</button></div>
    </div>
    <div id="resource-data-wrap">
        <div>
        <div class="close-icon"></div>
        <div id="resource-data"></div>
      </div>
      </div>
</main>
    <footer class="sans-serif">
        <p>&copy; Copyright 2024</p>
      </footer>
<script id="ddump"></script>
<script src="/scripts/grid.js"></script>
<div id="how-modal">
    <div>
        <article>
        <h3>How it's Made</h3>
        <p>I fully realize that this is not some impressive architecture or UX right now and that some developers would be deeply triggered and/or offended at a lot of it 😂. I cut corners where it didn't matter to me and didn't contribute much to the goal. Cleanup will happen, however 😉. I also realize this would not scale easily without some enhancements. I am simply putting my money where my mouth is when it comes to JS bloat and building things simply. It demonstrates accomplishing some common asks of business in a web app as simply as possible. You can see the performance of the super low-code implementation. Another goal was to see just how quickly I could build something from scratch using the bare minimum npm modules. A compare tool and other additions are upcoming.</p>
        <h3>Back End</h3>
        <p>I have a cron-job on the ExpressJS Web Service to fetch Amazon data using <a href="https://www.canopyapi.co/" target="_blank">Canopy</a> every 24 hours. In order to show data aggregation across retailers, I scraped Guitar Center for some products and put them in the DB. When the page is requested, the products are retrieved from a route, merged/sorted, and chunked, with the first 18 rendered in page, a common ask for SEO purposes.</p>
        <h3>Front End</h3>
        <p>No Framework. Plain JS & CSS.</p>
        <p>The entire JSON product list is fetched and put in a script tag. The bare-bones paginator is populated according to the chunks and total list. When the paginator is used, the appropriate product chunk is retrieved from the JSON, templated with simple string interploation and the innerHTML is replaced in the product grid wrapper.</p>
    </article>

    </div>
</div>
<script src="/scripts/web-vitals.iife.js"></script>
<script src="/scripts/perf.js"></script>
<script>
(async function () {
    document.addEventListener("DOMContentLoaded", (event) => {
        const backToTopBtn = document.getElementById('backtop-btn');
        const howBtn = document.getElementById("how-made");
        const howModal = document.getElementById("how-modal");
        howBtn.addEventListener("click", (event) => {
        event.preventDefault();
        howModal.classList.add("show");
        });
        howModal.addEventListener("click", (event) => {
        if (event.target.id === "how-modal") {
            howModal.classList.remove("show");
        }
        });
        backToTopBtn.addEventListener('click', () => {
                window.scrollTo({ top: 0, behavior: "smooth" });
          });
});
})();
</script>
<div id="backtop"><button id="backtop-btn">&Hat;</button></div>
</body>
</html>