   
{% extends "layout.njk" %}

{% block header %}
<header>
    <div class="round"><a class="logo" href="/"><img src="/assets/img/logo.jpg"  alt="logo BL"/></a></div>
    <div>
        <ul>
            <li><a href="/about-me">About Me</a></li>
            <li><a href="/about-site">About the Site</a></li>
        </ul>
    </div>
</header>
{% endblock %}