{% extends "layout.njk" %}

{% block content %}
<div id="container">
  <section>
    <details>
      <summary>TL;DR</summary>
      <p>I've been a dev and a leader for a good number of years touching various tech stacks and in various industries and I may have some relevant things to say about the state of things in Front-End Development. Here's some posts created with my hyper-simple homemade CMS.</p>
    </details>
    <h1>{{ firstPost.title }}</h1>
      <div>
        <article>
          <span class="post-date">Posted on: {{ firstPost.date }}</span>
          <div class="photo"></div>
          {{ firstPost.body | safe }}
    </article>
    </div>
    <div id="more-posts">
      <h3>More Posts</h3>
      <ul>
        {% for post in remainderPosts %}
        <li><div class="post-list sans-serif"><span class="post-title">{{ post.title }}</span><span class="post-date">{{ post.date }}</span></div>
    {% endfor %}
      </ul>
    </div>
  </section>
</div>
<aside id="template-aside">
  <P>👋 <br/>Welcome to my little toy "portfolio site". This will grow as time goes by and I think of cool ways to make stuff that doesn't require massive overhead. I knew it was time to work on some self-promo after several years of doing little aside from posting learnings in LinkedIn. I realized that this could also be an opportunity to express myself; to talk about my perspective as a primarily Front-End developer with over a decade of industry experience. I'm not really as crabby as I may seem in my small rant there, promise ;)</P>
  <p>I have worked as an individual contributor, team lead and a manager. It feels to me that I have worn many hats since jumping head-first into the wild, weird and <i>sometimes</i> wonderful world of web development.</p>
  <p>Performant, accessible and manageable front-ends is what I would like to create, if the situation can accommodate that.</p>
</aside>
<script>
  (async function() {
    document.addEventListener("DOMContentLoaded", (event) => {
      const head = document.getElementsByTagName('head');
      head[0].innerHTML = head[0].innerHTML + '<meta name="description" content="Atlanta, GA based web developer portfolio site. Experienced web professional concerned with performance, accessibility, and user experience.">';
  });

  setTimeout(() => {
    const postList = document.querySelectorAll('.post-list');
    for (let i = 0; i < postList.length; i++) {
    postList[i].addEventListener("click", function() {
       console.log('CLICKED POST');
     });
    };
  });
  }())
  </script>
{% endblock %}