{% extends "layout.njk" %}

{% block content %}
<div id="container">
  <section>
    <h1>Brent Seeks Front-End Sanity</h1>
      <div>
        <details>
          <summary>TL;DR</summary>
          <p>I've been a dev and a leader for a good number of years touching various tech stacks and in various industries and I may have some relevant things to say about the state of things in Front-End Development.</p>
        </details>
        <article>
          <div class="photo"></div>
        <p>As a self-taught web professional, I feel I have a different perspective than the majority of my peers. Over the last decade, I watched as the Front-End Web Developer community gradually seemed to lose sanity, a preference for simplicity and respect. I am not exactly sure how or when the act of creating User Interfaces lost its direction and focus. The focus should obviously be providing Users with Content and Tools. The Front-End now feels like a place where Back-End or Full-Stack (◔_◔) developers grudgingly work while steamrolling over everything that came before in the space. I seem to recall a time when there was respect for the discipline.</p>
      <p>I, like everyone else, found React and Angular so very compelling at first. I, like everyone else, scrambled to learn my way around these new tools and extolled the virtues of the "thin-server". It was not very long before I began to see what was being lost and increasingly feel that things were going astray; that an all-pervasive mental disorder had taken over web development.</p>
      <p>There are already some fine folks our there who have written in detail about the problems with the current state of UI development; the incomprehensible div soup and the hyper-complex architecture. There are many who can speak eloquently about the fact that a framework created for a social media platform that needs to handle massive amounts of concurrent users with massive amounts of dynamic data is not the overarching solution for every single website that is ever created. JavaScript and CSS are not problems to be overcome but are fairly mature technologies that are not perfect <i>but not inherently broken</i> and aim at serving specific and ubiquitous needs. JavaScript may not be an appropriate tool for every aspect of software development and the added complexity to make it so should probably be resisted.</p>
    </article>
    </div>
  </section>
</div>
<aside id="template-aside">
  <P>👋 <br/>Welcome to my little toy "portfolio site". This will grow as time goes by and I think of cool ways to make stuff that doesn't require massive overhead. I knew it was time to work on some self-promo after several years of doing little aside from posting learnings in LinkedIn. I realized that this could also be an opportunity to express myself; to talk about my perspective as a primarily Front-End developer with over a decade of industry experience. I'm not really as crabby as I may seem in my small rant there, promise ;)</P>
  <p>I have worked as an individual contributor, team lead and a manager. It feels to me that I have worn many hats since jumping head-first into the wild, weird and <i>sometimes</i> wonderful world of web development.</p>
  <p>Performant, accessible and manageable front-ends is what I would like to create, if the situation can accommodate that.</p>
</aside>

{% endblock %}