:root {
    --select-border: #777;
    --select-focus: blue;
    --select-arrow: var(--select-border);
  }

*,
*::before,
*::after {
  box-sizing: border-box;
}

.green {
    color: lightgreen;
}

.orange {
    color: orange;
}

.red {
    color: red;
}

.blue {
    color: lightblue;
}

.databox {
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 4px;
    background-color: #000;
    font-size: 14px;
    overflow: hidden;
}

select {
    appearance: none;
    background-color: transparent;
    border: none;
    padding: 0 1em 0 0;
    margin: 0;
    width: 100%;
    font-family: inherit;
    font-size: inherit;
    cursor: inherit;
    line-height: inherit;
    outline: none;
}

.select {
    width: 100%;
    min-width: 15ch;
    max-width: 30ch;
    border: 1px solid var(--select-border);
    border-radius: 0.25em;
    padding: 0.25em 0.5em;
    font-size: 1.25rem;
    cursor: pointer;
    line-height: 1.1;
    background-color: #fff;
    background-image: linear-gradient(to top, #f9f9f9, #fff 33%);
    display: grid;
    grid-template-areas: "select";
    align-items: center;
    position: relative;
    font-family: 'Franklin Gothic Medium', Arial, sans-serif;
  }

  select,
.select:after {
  grid-area: select;
}

  .select::after {
    content: "";
    width: 0.8em;
    height: 0.5em;
    background-color: var(--select-arrow);
    clip-path: polygon(100% 0%, 0 0%, 50% 100%);
    justify-self: end;
    pointer-events: none;
  }

  select:focus + .focus {
    position: absolute;
    top: -1px;
    left: -1px;
    right: -1px;
    bottom: -1px;
    border: 2px solid var(--select-focus);
    border-radius: inherit;
  }

  #grid-filters {
    flex-wrap: wrap;
    display: flex;
    align-content: center;
  }

body {
    max-width: 1279px;
    margin: 0 auto;
    background-color: #ddd;
}

header, footer {
    background-color: #aaa;
    padding: 16px;
    width: 90vw;
    margin: 0 auto;
    border-radius: 18px;
    max-width: 1270px;
}

footer {
    margin-bottom: 16px;
}

main {
    position: relative;
}

#guitar-btns {
    align-self: flex-end;
    margin-left: 12px;
}

header {
    margin-top: 16px;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    align-content: center;
    justify-content: space-between;
}

header button {
    border-radius: 8px;
    border: 0;
    background-color: #3d7454;
    color: #fff; 
    height: 32px;
    align-self: flex-end;
}

header button a {
    color: #eee;
    text-decoration: none;
}

h1 {
    font-size: 24px;
}

.round {
    mask-image: url('/assets/img/photo.svg');
    mask-repeat: no-repeat;
    mask-position: top;
    mask-size: 104%;
    border: 4px solid rgba(0,0,0,0.6);
    background-color: #000;
    width: 39px;
    height: 39px;
    margin-right: 12px;
    align-self: center;
}

.sans-serif {
    font-family: 'Franklin Gothic Medium', Arial, sans-serif;
}

#backtop {
    position: fixed;
    right: 6%;
    bottom: 6%;
}

#backtop-btn {
    padding: 14px 10px 6px 10px;
    font-size: 16px;
    font-weight: 900;
}


.no-wrap {
    white-space: nowrap;
    display: block;
    margin-right: 12px;
}

#product-grid-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    padding: 0 0 24px 0;
    justify-content: center;
    width: 90vw;
    max-width: 1270px;
    margin: 0 auto;
}

#no-products {
    opacity: 0;
    flex-basis:100%;
    text-align:center;
    color:red;
    padding-top: 14px;
}

#no-products.show {
    opacity: 1;
}

.product {
    flex-basis: calc(33.33% - 12px);
    display: flex;
    flex-direction: column;
    gap: 12px;
    justify-content: space-between;
    flex-wrap: wrap;
    box-shadow: rgba(0,0,0,0.2) 2px 2px 10px 4px;
    border-radius: 14px;
    padding: 12px;
    background-color: #fff;
    position: relative;
}

.product-img-container:hover {
    cursor: pointer;
}

.product-details-container {
    max-width: 90%;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.product-price {
    color: #274e37;
    font-weight: 700;
}

.product-details-container a {
    text-decoration: none;
    color: #333;
}

.compare-ctrl {
    position: absolute;
    bottom: 14px;
    right: 14px;
}

h3 {
    font-size: 16px;
}

.product-img-container {
    width: 100%;
    height: 200px;
    position: relative;
    border-radius: 14px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 24px;
}

.product-img-container img {
    max-height: 90%;
    max-width: 90%;
}
.retailer-fav {
    width: 32px;
    height: 32px;
    position: absolute;
    top: 4px;
    right: 12px;
}
.retailer-fav img {
    max-width: 100%;
    max-height: 100%;
}

.paginator {
    height: 160px;
    width: 50%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.pag-btn:hover {
    cursor: pointer;
}

.paginator button {
    height: 30px;
    width: 30px;
}

.guitar-modal {
    background: rgba(0,0,0,0.5);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    padding-top: 24px;
}

/* #how-modal {
    background: rgba(0,0,0,0.5);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    padding-top: 24px;
} */
.guitar-modal.show {
    display: block;
}

.guitar-modal > div {
    width: 60%;
    height: 80vh;
    max-width: 500px;
    background-color: #ddd;
    color: #333;
    margin: auto;
    border-radius: 18px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 32px;
    overflow-y: initial !important
}

.ratings-box {
    display: flex;
    height: 46px;
    gap: 10px;
}

.rating {
    width: 150px;
    height: 46px;
    mask-image: url('/assets/img/stars.svg');
    mask-repeat: no-repeat;
    mask-position: top;
    mask-size: 100%;
}

.rating span {
    display: block;
    height: 100%;
    width: var(--ratingnum);
    background-color: rgb(248, 180, 9);
}
 
.review-count {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

.review-count span {
    font-size: 11px;
    height: 12px;
    line-height: 1;
}

#how-modal > div article {
    max-height: 90vh;
    overflow-y: auto;
} 

#how-modal > div * {
    margin: 0;
}

#how-modal h3 {
    height: auto;
    font-family: 'Franklin Gothic Medium', Arial, sans-serif;
}

#resource-btn-wrap {
    flex-grow: 3;
    display: flex;
    justify-content: flex-end;
}
#resource-timing-btn {
    font-size: 12px;
    align-self: flex-end;
}

#resource-data-wrap {
    position: absolute;
    top: 16px;
    right: 100%;
    opacity: 0;
    transition: opacity 1s ease;
    background-color: rgba(0,0,0,0.7);
    color: #ccc;
    border-radius: 12px;
    max-width: 300px;
}

#resource-data-wrap > div {
    padding: 26px 16px 16px 16px;
    position: relative;
}
 
#resource-data-wrap.show {
    opacity: 1;
    right: 0;
}

#resource-data {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.close-icon {
    border-radius: 100%;
    position: absolute;
    top: 8px;
    right: 8px;
}
.close-icon:after {
    content: "\2716";
}
.close-icon:hover {
    cursor: pointer;
}

.databox {
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 4px;
    background-color: #000;
    font-size: 14px;
    overflow: hidden;
}
@media screen AND (max-width: 968px) {
    .product {
        flex-basis: 100%;
    }
}