.dark body {
    background-color: #47506b;
}

.light body{
    background-color: #ddd;
}

.dark header, .dark footer {
    background-color: #262d40;
}

.dark main {
    color: #ddd;
}

.light main {
    color: #333;
}

.light header, .light footer {
    background-color: rgba(0,0,0,0.1);
}

.sans-serif {
    font-family: 'Franklin Gothic Medium', Arial, sans-serif;
}

main {
    max-width: 1024px;
    width: 90vw;
    margin: 0 auto;
    padding: 32px 16px 16px 16px;
    display: grid;
    grid-template-columns: 60% calc(40% - 24px);
    gap: 24px;
    position: relative;
}

header, footer {
    padding: 16px;
    width: 90vw;
    margin: 0 auto;
    border-radius: 18px;
    max-width: 1024px;
}

header {
    display: flex;
    gap: 8px;
    align-content: flex-start;
    align-content: center;
}

.ham {
    display: flex;
    flex-direction: column;
    width: 50px;
    height: 30px;
    gap: 3px;
}

.ham span {
    display: block;
    background-color: #000;
    border-radius: 6px;
    padding: 4px;
}

.close-icon {
    border-radius: 100%;
    position: absolute;
    top: 8px;
    right: 8px;
}
.close-icon:after {
    content: "\2716";
}
.close-icon:hover {
    cursor: pointer;
}

.round {
    mask-image: url('/assets/img/photo.svg');
    mask-repeat: no-repeat;
    mask-position: top;
    mask-size: 100%;
    border: 4px solid rgba(0,0,0,0.6);
    width: 32px;
    height: 32px;
    margin-right: 12px;
    align-self: center;
}

article .photo {
    float: right;
}

.photo {
    mask-image: url('/assets/img/photo.svg');
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: 100%;
    background-image: url('/assets/img/brent.jpeg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.photo {
    width: 190px;
    height: 200px;
}

.flex {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.flex-col li {
    font-size: 18px;
}

.hidden {
    display: none;
}

header a:not(.logo) {
    color: #ddd;
    font-weight: 300;
    background-color: rgba(30, 32, 38, 0.7);
    padding: 6px 8px;
    border-radius: 4px;
    text-decoration: none;
    font-size: 13px;
}
header a:not(.logo):hover {
    background-color: rgba(0,0,0,0.4);
    cursor: pointer;
}

nav input[type='checkbox'], nav label {
    display: none;
}


.dark footer p, .dark footer a {
    font-size: 12px;
    color: #ddd;
}

.light footer p, .light footer a {
    font-size: 12px;
    color: #333;
}


aside {
    border-radius: 18px;
    padding: 24px;
}

.dark aside {
    background-color: #81726A;
    color: #fff;
}

.light aside {
    background-color: #dccfc7;
    color: #333;
}

details p {
    background-color: #262d40;
    padding: 16px;
    border-radius: 18px;
}

h1, h2, h3, h4, h5 {
    font-family: 'Franklin Gothic Medium', Arial, sans-serif;
}

button:hover {
    cursor: pointer
}

section {
    display: flex;
    gap: 24px;
    flex-direction: column; 
}

ul {
    list-style-type: none;
    display: flex;
    gap: 8px;
}

form {
    display: flex;
    gap: 12px;
    flex-direction: column;
}

p {
    line-height: 1.5;
    font-size: 20px;
    max-width: 664px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.dark a {
    color: #7e99ed;
}

.light a {
    color: #000;
}

.green {
    color: lightgreen;
}

.orange {
    color: orange;
}

.red {
    color: red;
}

.blue {
    color: lightblue;
}

.default-text {
    color: #ddd;

}
span.stretch {
    display: inline-block;
    margin: 0 22px 0 22px;
    -webkit-transform: scale(2, 1);
    -moz-transform: scale(2, 1);
    -o-transform: scale(2, 1);
    transform: scale(2, 1);
  }

.form-wrap {
    transition: max-height 0.75s ease;
    max-height: 0;
    overflow: hidden;
    min-width: 260px;
}

.form-wrap.open-form {
    max-height: 440px;
    padding: 24px 24px 24px 0;
}

.form-wrap form {
    width: 100%;
}

.form-control {
    flex-grow: 2;
}

.hoy {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    height: 0;
    width: 0;
    z-index: -1;
}
#namebad, #emailbad {
    padding: 4px;
    opacity: 0;
    color: red;
    flex-basis: 100%;
}
#namebad.show, #emailbad.show {
    opacity: 1;
}

label {
    font-weight: 700;
}

input, textarea {
    border: none;
    margin-left: 12px;
    padding: 8px;
    border-radius: 10px;
    max-width: 480px;
}

input[type=text], input[type=email] {
    height: 30px;
}

textarea {
    min-height: 200px;
}

button {
    max-width: 140px;
    padding: 14px;
    border-radius: 10px;
    font-size: 16px;
    border: none;
    box-shadow: rgba(0,0,0,0.3) 2px 2px 10px 4px;
}

.dark button {
    background-color: #304a3b;
    color: #eee;
}

.light button {
    background-color: #5aa278;
    color: #fff;
}

button:hover {
    background-color: #182a20;
}

#resource-btn-wrap {
    flex-grow: 3;
    display: flex;
    justify-content: flex-end;
}
#resource-timing-btn {
    font-size: 12px;
    align-self: flex-end;
}

#resource-data-wrap {
    position: absolute;
    top: 16px;
    right: 0;
    opacity: 0;
    transition: opacity 1s ease;
    background-color: rgba(0,0,0,0.7);
    color: #ccc;
    border-radius: 12px;
    max-width: 300px;
}

#resource-data-wrap > div {
    padding: 26px 16px 16px 16px;
    position: relative;
}
 
#resource-data-wrap.show {
    opacity: 1;
}

#resource-data {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.databox {
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 4px;
    background-color: #000;
    font-size: 14px;
    overflow: hidden;
}


@media(max-width: 769px) {

    main {
        display: flex;
        flex-wrap: wrap;
        min-height: 100vh;
        padding: 16px;
    }
    
    header, footer {
        width: 88vw;
    }

    p {
        font-size: 32px;
    }
    article .photo {
        float: none;
    }
    #signup {
        width: 100vw;
    }
    input, textarea {
        max-width: 320px;
    }
    span.stretch {
        margin: 0 32px 0 32px;
      }

      nav {
        display: flex;
        position: relative;
    }
    nav label {
        text-align: left;
        display: block;
        padding: 0.5em;
        line-height: 1.6em;
        align-self: center;
        font-size: 20px;
    }

    input[type='checkbox']:not(:checked)+ul {
        display: none;
    }
    nav ul {
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 12px;
        min-width: 260px;
        background-color: #262d40;
        border-radius: 12px;
        padding: 12px;
        z-index: 99;
        gap: 20px;
    }
    #resource-btn-wrap {
        align-self: flex-end;
    }
   
}

#theme-wrap {
    color: #ddd;
    padding: 0 10px;
    flex-grow: 3;
    justify-content: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    flex-wrap: wrap;
    align-content: center;
    position: relative;
}

#theme-wrap span {
    font-size: 13px;
}

#radio-theme-wrap {
    padding-top: 6px;
    width: 100px;
    display: flex;
    gap: 7px;
    justify-content: center;
    color: #ddd;
    font-size: 12px;
}

#radio-theme-wrap label {
    text-align: center;
    font-weight: 200;
    padding-top: 3px;
}

#radio-theme-wrap input {
    opacity: 0;
}

#radio-theme-wrap label:hover {
    cursor: pointer;
}

.dark #radio-theme-wrap label span {
    color: #fff;
    font-size: 18px;
}

.light #radio-theme-wrap label span {
    color: #333;
    font-size: 18px;
}


.visible-picker-wrap {
    position: absolute;
    top: 14px;
    left: calc(50% - 19px);
    display: flex;
}

.track {
    height: 16px;
    width: 38px;
    box-shadow: inset 0 2px 4px 0 #000;
    border-radius: 8px;
    position: relative;
}

.dark .track {
    border: 1px solid #ddd;
}

.light .track {
    border: 1px solid #333;
}

.track-dot {
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-duration: .3s;
    transition-property: all;
    border-radius: 8px;
    position: absolute;
    top: 1px;
    left: 17px;
    height: 16px;
    width: 16px;
    opacity: 0.7;
}
.dark .track-dot {
    background-color: #ddd;
    left: 23px;
}
.light .track-dot {
    background-color: #333;
    left: 1px;
}

/* dark is default */
@media (prefers-color-scheme: light) {
    
}


