body {
    background-color: #47506b;
}

main {
    max-width: 1024px;
    width: 90vw;
    margin: 0 auto;
    padding: 32px 16px 16px 16px;
    color: #ddd;
    display: grid;
    grid-template-columns: 60% calc(40% - 24px);
    gap: 24px;
    position: relative;
}

header, footer {
    background-color: #262d40;
    padding: 16px;
    width: 90vw;
    margin: 0 auto;
    border-radius: 18px;
    max-width: 1024px;
}

header {
    display: flex;
    align-content: flex-start;
    align-content: center;
}

.ham {
    display: flex;
    flex-direction: column;
    width: 50px;
    height: 30px;
    gap: 3px;
}

.ham span {
    display: block;
    background-color: #000;
    border-radius: 6px;
    padding: 4px;
}

.close-icon {
    border-radius: 100%;
    position: absolute;
    top: 8px;
    right: 8px;
}
.close-icon:after {
    content: "\2716";
}
.close-icon:hover {
    cursor: pointer;
}

.round {
    mask-image: url('/assets/img/photo.svg');
    mask-repeat: no-repeat;
    mask-position: top;
    mask-size: 100%;
    border: 4px solid rgba(0,0,0,0.6);
    width: 32px;
    height: 32px;
    margin-right: 12px;
    align-self: center;
}

article .photo {
    float: right;
}

.photo {
    mask-image: url('/assets/img/photo.svg');
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: 100%;
    background-image: url('/assets/img/brent.jpeg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.photo {
    width: 190px;
    height: 200px;
}

.flex {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.flex-col li {
    font-size: 18px;
}

.hidden {
    display: none;
}

header a:not(.logo) {
    color: #ddd;
    font-weight: 700;
    font-family: 'Franklin Gothic Medium', Arial, sans-serif;
    background-color: rgba(30, 32, 38, 0.7);
    padding: 6px 8px;
    border-radius: 4px;
    text-decoration: none;
}
header a:not(.logo):hover {
    background-color: rgba(0,0,0,0.4);
    cursor: pointer;
}

nav input[type='checkbox'], nav label {
    display: none;
}


footer p, footer a {
    font-family: 'Franklin Gothic Medium', Arial, sans-serif;
    font-size: 12px;
    color: rgba(135, 146, 199, 0.7);
}

aside {
    border-radius: 18px;
    padding: 24px;
    background-color: rgba(224, 189, 150, 0.5);
    color: #eee;
}

details p {
    background-color: #262d40;
    padding: 16px;
    border-radius: 18px;
}

h1, h2, h3, h4, h5 {
    font-family: 'Franklin Gothic Medium', Arial, sans-serif;
}

button:hover {
    cursor: pointer
}

section {
    display: flex;
    gap: 24px;
    flex-direction: column; 
}

ul {
    list-style-type: none;
    display: flex;
    gap: 8px;
}

form {
    display: flex;
    gap: 24px;
    flex-direction: column;
    font-family: 'Franklin Gothic Medium', Arial, sans-serif;
}

p {
    line-height: 1.5;
    font-size: 20px;
    max-width: 664px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

a {
    color: #7e99ed;
}

.green {
    color: lightgreen;
}

.orange {
    color: orange;
}

.red {
    color: red;
}

.blue {
    color: lightblue;
}

.default-text {
    color: #ddd;

}
span.stretch {
    display: inline-block;
    margin: 0 22px 0 22px;
    -webkit-transform: scale(2, 1);
    -moz-transform: scale(2, 1);
    -o-transform: scale(2, 1);
    transform: scale(2, 1);
  }

.form-wrap {
    transition: max-height 0.75s ease;
    max-height: 0;
    overflow: hidden;
    min-width: 260px;
}

.form-wrap.open-form {
    max-height: 440px;
    padding: 24px 24px 24px 0;
}

.form-wrap form {
    width: 100%;
}

.form-control {
    flex-grow: 2;
}

label {
    font-weight: 700;
}

input, textarea {
    border: none;
    margin-left: 12px;
    padding: 8px;
    border-radius: 10px;
    max-width: 480px;
}

input[type=text], input[type=email] {
    height: 30px;
}

textarea {
    min-height: 200px;
}

button {
    max-width: 140px;
    padding: 14px;
    background-color: #304a3b;
    color: #eee;
    border-radius: 10px;
    font-size: 16px;
    border: none;
    box-shadow: rgba(0,0,0,0.3) 2px 2px 10px 4px;
}
button:hover {
    background-color: #182a20;
}

#resource-btn-wrap {
    flex-grow: 3;
    display: flex;
    justify-content: flex-end;
}
#resource-timing-btn {
    font-size: 12px;
    align-self: flex-end;
}

#resource-data-wrap {
    position: absolute;
    top: 16px;
    right: 0;
    opacity: 0;
    transition: opacity 1s ease;
    background-color: rgba(0,0,0,0.7);
    color: #ccc;
    border-radius: 12px;
    max-width: 300px;
}

#resource-data-wrap > div {
    padding: 26px 16px 16px 16px;
    position: relative;
}
 
#resource-data-wrap.show {
    opacity: 1;
}

#resource-data {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.databox {
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 4px;
    background-color: #000;
    font-size: 14px;
    overflow: hidden;
}


@media(max-width: 769px) {

    main {
        display: flex;
        flex-wrap: wrap;
        min-height: 100vh;
        padding: 16px;
    }
    p {
        font-size: 32px;
    }
    article .photo {
        float: none;
    }
    #signup {
        width: 100vw;
    }
    input, textarea {
        max-width: 320px;
    }
    span.stretch {
        margin: 0 32px 0 32px;
      }

      nav {
        display: flex;
        position: relative;
    }
    nav label {
        text-align: left;
        display: block;
        padding: 0.5em;
        line-height: 1.6em;
        align-self: center;
        font-size: 20px;
    }

    input[type='checkbox']:not(:checked)+ul {
        display: none;
    }
    nav ul {
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 12px;
        min-width: 260px;
        background-color: #262d40;
        border-radius: 12px;
        padding: 12px;
        z-index: 99;
        gap: 20px;
    }
    #resource-btn-wrap {
        align-self: flex-end;
    }
   
}


