.forecast-day {
    font-family: 'Franklin Gothic Medium', Arial, sans-serif;
    background-color: rgba(30, 32, 38, 0.7);
    border-radius: 12px;
    margin-bottom: 12px;
    padding: 12px;
    flex-wrap: wrap;
    gap: 20px;
    max-width: 90%;
    text-align: center;
}
.forecast-day .conditions {
    flex-basis: 100%;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
.conditions img {
    width: 60px;
    height: 60px;
    display: block;
    margin: 0 auto;
}